In [1]:
import pandas as pd
import numpy as np
import zipfile
import kaggle
import datetime
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Download dataset from Kaggle using Kaggle API
!kaggle datasets download -d rashikrahmanpritom/data-science-job-posting-on-glassdoor

Downloading data-science-job-posting-on-glassdoor.zip to d:\Project\Data science job postings on Glassdoor

  0%|          | 0.00/1.53M [00:00<?, ?B/s]
 65%|██████▌   | 1.00M/1.53M [00:00<00:00, 1.35MB/s]
100%|██████████| 1.53M/1.53M [00:00<00:00, 1.84MB/s]
100%|██████████| 1.53M/1.53M [00:00<00:00, 1.72MB/s]

In [3]:
# Extract the file from the downloaded zip file
zipfile_name = 'data-science-job-posting-on-glassdoor.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [2]:
# Read the CSV file:
Data = pd.read_csv('Uncleaned_DS_jobs.csv')
df = Data.copy()
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [3]:
df.tail()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [5]:
df.shape

(672, 15)

In [6]:
df.drop('index', axis=1, inplace= True)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

 - check for duplicate rows and drop duplicate rows except 1st row

In [7]:
df[df.duplicated()]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
135,Machine Learning Engineer,$90K-$109K (Glassdoor est.),Role Description\nTriplebyte screens and evalu...,3.2,Triplebyte\n3.2,Remote,"San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
136,Senior Data Engineer,$90K-$109K (Glassdoor est.),Lendio is looking to fill a position for a Sen...,4.9,Lendio\n4.9,"Lehi, UT","Lehi, UT",201 to 500 employees,2011,Company - Private,Lending,Finance,$50 to $100 million (USD),-1
358,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
359,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
360,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
362,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
389,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
496,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
497,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
498,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
499,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
500,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.reset_index(inplace=True)
df.shape

(659, 15)

- Remove number from company name

In [10]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split("\n")[0])

In [11]:
# Convert the salary column into intergers:
df['Salary Estimate'].value_counts()

$75K-$131K (Glassdoor est.)     32
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     28
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$110K-$163K (Glassdoor est.)    20
$79K-$147K (Glassdoor est.)     20
$145K-$225K(Employer est.)      20
$31K-$56K (Glassdoor est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
$122K-$146K (Glassdoor est.)    16
$95K-$119K (Glassdoor est.)     16
Name: Salary Estimate, dtype: int64

In [12]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace('(\$|K|\s\(Glassdoor est.\)|\s\(Employer est.\))', '', regex=True)
df['Salary Estimate'] = df['Salary Estimate'].str.extract('(\d+-\d+)', expand=False)
df['Salary Estimate']

0      137-171
1      137-171
2      137-171
3      137-171
4      137-171
        ...
654    105-167
655    105-167
656    105-167
657    105-167
658    105-167
Name: Salary Estimate, Length: 659, dtype: object

In [13]:
# Extract Min and Max Salary
df['Min_Salary'] = df['Salary Estimate'].apply(lambda x: int(x.split('-')[0]))
df['Max_Salary'] = df['Salary Estimate'].apply(lambda x: int(x.split('-')[1]))
df['Avg_salary'] = df[['Min_Salary', 'Max_Salary']].mean(axis=1)
df[['Min_Salary', 'Max_Salary','Avg_salary']]

     Min_Salary  Max_Salary  Avg_salary
0           137         171       154.0
1           137         171       154.0
2           137         171       154.0
3           137         171       154.0
4           137         171       154.0
..          ...         ...         ...
654         105         167       136.0
655         105         167       136.0
656         105         167       136.0
657         105         167       136.0
658         105         167       136.0

[659 rows x 3 columns]

- Extracting State from Location Column and replacing Full Names with appropriate state code

In [14]:
df['Location'].apply(lambda x: x.split(",")[-1]).value_counts()

 CA              154
 VA               89
 MA               62
 NY               52
 MD               40
 IL               30
 DC               26
 TX               17
 WA               16
 OH               14
 PA               12
 MO               12
United States     11
 NJ               10
 CO               10
 NC                9
 GA                9
 TN                8
 FL                8
 OK                6
 WI                6
Remote             5
 IN                5
 MI                5
 CT                4
 AL                4
 MN                4
 AZ                4
 NE                3
 IA                3
 RI                2
New Jersey         2
 SC                2
 OR                2
 UT                2
Utah               2
 NH                2
 MS                1
 LA                1
 KS                1
Texas              1
 DE                1
California         1
 WV                1
Name: Location, dtype: int64

In [15]:
df['Job_State'] = df['Location'].apply(lambda x: x.split(",")[-1].strip())
df['Job_State'].replace(['United States', 'Texas','California','New Jersey','Remote','Utah'],['US','TX','CA','NJ', np.nan,'UT'], inplace=True)
df['Job_State']

0      NY
1      VA
2      MA
3      MA
4      NY
       ..
654    NJ
655    CA
656    CA
657    CA
658    NY
Name: Job_State, Length: 659, dtype: object

- Comparing job_state and Headquaerters location

In [16]:
df['Headquarters1']= df['Headquarters'].apply(lambda x: x.split(',')[-1].strip())
df['Same_state_w_Head'] = np.where(df['Headquarters1'] == df['Job_State'],'Yes','No')
df.drop('Headquarters1', axis= 1, inplace= True)
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min_Salary,Max_Salary,Avg_salary,Job_State,Same_state_w_Head
0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,NY,Yes
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0,VA,Yes
2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0,MA,Yes
3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,MA,No
4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,NY,Yes

- Calculating company Age from Founded Year

In [18]:
df['Founded'] = np.where(df['Founded'] == -1, 0, df['Founded'])
current_year = datetime.datetime.now().year
df['company_age'] = np.where(df['Founded'] == 0, np.nan, current_year - df['Founded'])
df['company_age']

0      30.0
1      55.0
2      42.0
3      23.0
4      25.0
       ...
654    34.0
655     NaN
656     NaN
657     NaN
658    47.0
Name: company_age, Length: 659, dtype: float64

In [19]:
df.Rating = np.where(df.Rating == -1, 0, df.Rating)
df.sort_values(by = 'Rating', ascending= False, inplace=True)
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,Min_Salary,Max_Salary,Avg_salary,Job_State,Same_state_w_Head,company_age
353,355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,...,IT Services,Information Technology,$1 to $5 million (USD),-1,122,146,134.0,MD,Yes,12.0
225,227,Data Scientist,71-123,About The Position\n\nREE is redefining how mo...,5.0,REE,United States,"Tel Aviv-Yafo, Israel",51 to 200 employees,2018,...,Transportation Equipment Manufacturing,Manufacturing,Unknown / Non-Applicable,-1,71,123,97.0,US,No,5.0
279,281,Data Scientist,91-150,This Jobot Job is hosted by: Scott Filbin\nAre...,5.0,Jobot,"Irvine, CA","Irvine, CA",51 to 200 employees,2018,...,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,91,150,120.5,CA,Yes,5.0
404,412,Data Scientist,124-198,Job Description\nAre you an experienced Data S...,5.0,PROPRIUS,"Sunnyvale, CA","London, United Kingdom",1 to 50 employees,0,...,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,124,198,161.0,CA,No,NaN
407,415,Data Scientist,124-198,Title: Data Scientist\n\nLocation: Springfield...,5.0,Royce Geospatial,"Springfield, VA","Arlington, VA",51 to 200 employees,2014,...,Aerospace & Defense,Aerospace & Defense,$10 to $25 million (USD),-1,124,198,161.0,VA,Yes,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,319,Data Scientist,145-225,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,0,...,Consulting,Business Services,$1 to $5 million (USD),-1,145,225,185.0,NY,No,NaN
288,290,Data Scientist,141-225,Work Authorization Those authorized to work in...,0.0,PETADATA,"San Francisco, CA","Fremont, CA",51 to 200 employees,0,...,-1,-1,Unknown / Non-Applicable,-1,141,225,183.0,CA,Yes,NaN
283,285,Data Scientist,141-225,Greetings from Trovetechs!!!\n\nÂ\n\nWe have a...,0.0,Trovetechs Inc,"San Francisco, CA","Hillsborough, NJ",Unknown,0,...,-1,-1,Unknown / Non-Applicable,-1,141,225,183.0,CA,No,NaN
280,282,Data Scientist,91-150,Greetings from Trovetechs!!!\n\nÂ\n\nWe have a...,0.0,Trovetechs Inc,"San Francisco, CA","Hillsborough, NJ",Unknown,0,...,-1,-1,Unknown / Non-Applicable,-1,91,150,120.5,CA,No,NaN
327,329,Data Scientist,79-147,Description:\n\nPosition Requires a Top Secret...,0.0,B4Corp,"Reston, VA","Leesburg, VA",51 to 200 employees,0,...,IT Services,Information Technology,Unknown / Non-Applicable,-1,79,147,113.0,VA,Yes,NaN

- extracting key skills mentioned in the job description

In [20]:
df['Job Description'][0].split('\n\n')

['Description',
 'The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.',
 'Duties & Responsibilities:',
 '• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\n• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\n• Works with multiple teams to support data collection, integration, and retention requirements based on business needs\n• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\n• Collaborates with business subject matter experts to select relevant sources of information\n• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\n• Develops expertise with Healthfirst datasets, data repositories, and data movement processes\n• Assists on projects/requests and may lead specific tasks within the project scope\n• Prepares and manipulates data for use in development of statistical models\n• Other duties as assigned',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.',
 'If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement',
 ']]>']

In [21]:
df['Python'] = df['Job Description'].apply(lambda x: 'Y' if 'python' in x.lower() else 'N')
df['Excel'] = df['Job Description'].apply(lambda x: 'Y' if 'excel' in x.lower() else 'N')
df['hadoop'] = df['Job Description'].apply(lambda x: 'Y' if 'hadoop' in x.lower() else 'N')
df['spark'] = df['Job Description'].apply(lambda x: 'Y' if 'spark' in x.lower() else 'N')
df['aws'] = df['Job Description'].apply(lambda x: 'Y' if 'aws' in x.lower() else 'N')
df['tableau'] = df['Job Description'].apply(lambda x: 'Y' if 'tableau' in x.lower() else 'N')
df['big_data'] = df['Job Description'].apply(lambda x: 'Y' if 'big_data' in x.lower() else 'N')
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Job_State,Same_state_w_Head,company_age,Python,Excel,hadoop,spark,aws,tableau,big_data
353,355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,...,MD,Yes,12.0,Y,N,N,Y,N,N,N
225,227,Data Scientist,71-123,About The Position\n\nREE is redefining how mo...,5.0,REE,United States,"Tel Aviv-Yafo, Israel",51 to 200 employees,2018,...,US,No,5.0,Y,N,N,N,N,N,N
279,281,Data Scientist,91-150,This Jobot Job is hosted by: Scott Filbin\nAre...,5.0,Jobot,"Irvine, CA","Irvine, CA",51 to 200 employees,2018,...,CA,Yes,5.0,Y,Y,N,N,N,Y,N
404,412,Data Scientist,124-198,Job Description\nAre you an experienced Data S...,5.0,PROPRIUS,"Sunnyvale, CA","London, United Kingdom",1 to 50 employees,0,...,CA,No,NaN,Y,N,Y,Y,N,Y,N
407,415,Data Scientist,124-198,Title: Data Scientist\n\nLocation: Springfield...,5.0,Royce Geospatial,"Springfield, VA","Arlington, VA",51 to 200 employees,2014,...,VA,Yes,9.0,Y,N,N,N,N,N,N

In [22]:
df['Job Title'].unique()

array(['Data Scientist - TS/SCI FSP or CI Required', 'Data Scientist',
       'Scientist - Molecular Biology',
       'Data Engineer, Digital & Comp Pathology',
       'Real World Evidence (RWE) Scientist',
       'Data Scientist - Machine Learning',
       'Data Scientist - TS/SCI Required',
       'Data Scientist(s)/Machine Learning Engineer',
       'Senior Machine Learning Engineer', 'Machine Learning Engineer',
       'Data Engineer', 'NGS Scientist',
       'Applied AI Scientist / Engineer', 'Data Analyst',
       'Senior Data Engineer',
       'Data Scientist - Image and Video Analytics',
       'Purification Scientist', 'Senior Data Scientist',
       'Senior Research Statistician- Data Scientist',
       'Machine Learning Engineer/Scientist',
       'Vice President, Biometrics and Clinical Data Management',
       'Data Science Software Engineer', 'Jr. Data Engineer',
       'Principal Machine Learning Scientist',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Analytics - Business Assurance Data Analyst',
       'Data Science All Star Program - Data Engineer Track',
       'Decision Scientist', 'Senior Data Analyst',
       'Applied Computer Scientist', 'Data Science Instructor',
       'Data Scientist - Intermediate',
       'Data Scientist / Applied Mathematician',
       'Staff Data Scientist - Analytics',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Experienced Data Scientist', 'Data Science Analyst',
       'Staff Data Scientist', 'Analytics Manager',
       'Intelligence Data Analyst, Senior',
       'Data Scientist/Machine Learning', 'Sr Data Scientist',
       'Data Engineer (Remote)', 'Data Scientist - Risk',
       'Machine Learning Engineer, Sr.', 'Computer Scientist 1',
       'Data Analyst II', 'Computational Behavioral Scientist',
       'Manager, Field Application Scientist, Southeast',
       'Data Architect', 'Lead Data Scientist',
       'Product Data Scientist - Ads Data Science',
       'Computational Scientist, Machine Learning',
       'Manager / Lead, Data Science & Analytics',
       'Machine Learning Scientist / Engineer',
       'AI/ML - Machine Learning Scientist, Siri Understanding',
       'Big Data Engineer', 'Data Scientist - Contract',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Health Data Scientist - Biomedical/Biostats',
       'Say Business Data Analyst',
       'Senior Principal Data Scientist (Python/R)',
       'Real World Science, Data Scientist',
       'Software Engineer - Data Science',
       'Weapons and Sensors Engineer/Scientist', 'AI Ops Data Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Data Scientist/Data Analytics Practitioner',
       'Data Science Manager',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Patient Safety- Associate Data Scientist',
       'Principal Data Scientist', 'Statistical Scientist',
       'Data Science Manager, Payment Acceptance - USA',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Cloud Data Engineer (Azure)',
       'Data Scientist, Kinship - NYC/Portland',
       'Data Scientist / Machine Learning Expert',
       'Senior Data Scientist - Algorithms', 'VP, Data Science',
       'Production Engineer - Statistics/Data Analysis',
       'Development Scientist, Voltaren',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Director of Data Science', 'Global Data Analyst',
       'Data Scientist-Human Resources',
       'Data Integration and Modeling Engineer',
       'Data Analyst - Unilever Prestige',
       'Research Scientist Patient Preferences (Remote)',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Clinical Data Analyst', 'Market Research Data Scientist',
       'Diversity and Inclusion Data Analyst',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Operations Data Analyst',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Data Modeler (Analytical Systems)',
       'Senior Business Intelligence Analyst',
       'Principal Data & Analytics Platform Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Data Scientist - Statistics, Early Career',
       'Business Data Analyst', 'Data Analytics Engineer',
       'Tableau Data Engineer 20-0117',
       'Principal Data Scientist - Machine Learning',
       'IT Partner Digital Health Technology and Data Science',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Staff Data Scientist - Pricing', '(Sr.) Data Scientist -',
       'Sr. Data Analyst', 'Senior Clinical Data Scientist Programmer',
       'Data Scientist (TS/SCI)',
       'Applied Technology Researcher / Data Scientist',
       'E-Commerce Data Analyst', 'Geospatial Data Scientist',
       'Sr. Data Scientist', 'Sr Scientist - Extractables & Leachables',
       'Data Engineer - Kafka', 'Sr. Data Scientist II',
       'Data Scientist Machine Learning', 'Analytics Manager - Data Mart',
       'Business Intelligence Analyst I- Data Insights',
       'Medical Lab Scientist', 'Scientist - Machine Learning',
       'Data Scientist (TS/SCI w/ Poly)', 'Human Factors Scientist',
       'Chief Scientist', 'Business Intelligence Analyst',
       'Data Scientist Technical Specialist',
       'Senior Analyst/Data Scientist', 'Computational Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data & Machine Learning Scientist',
       'Computer Vision / Deep Learning Scientist',
       'Aviation AI/ML Data Scientist',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Associate Data Scientist',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Data Scientist 3 (718)',
       'Lead Data Scientist – Network Analysis and Control',
       'AI Data Scientist', 'Machine Learning Scientist - Bay Area, CA',
       'Developer III - Data Science',
       'Senior Data & Machine Learning Scientist',
       'Data Analyst/Engineer', 'RFP Data Analyst',
       'Sr Data Engineer (Sr BI Developer)', 'Environmental Data Science',
       'Data Modeler', 'Software Data Engineer',
       'Data Engineer, Enterprise Analytics',
       'Report Writer-Data Analyst', 'In-Line Inspection Data Analyst',
       'Staff BI and Data Engineer', 'Staff Scientist- Upstream PD',
       'Data Analyst I', 'Scientist - Biomarker and Flow Cytometry',
       'Sr Data Analyst',
       'Scientist/Research Associate-Metabolic Engineering',
       'ELISA RESEARCH SCIENTIST (CV-15)',
       'Scientist / Group Lead, Cancer Biology'], dtype=object)